

/*-- HEADER--*/
.gentl{
	margin:20px 100px;
}

li{
	text-decoration: none;
	display: inline-block;
	color: white;
	text-align: center;
	margin: 20px;
}

/*-- SECTION 1--*/
.bckg-cont{
	background-color: ;

.text-espacio{
	margin: 10px 0px;
}

/*--FOOTER-*/

.background-gray{
	background-color: black;
}

.fondito{
	background-color: black;
}
